﻿@model IoT.Web.ViewModels.Patient

@{
    ViewData["Title"] = "Детали";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var graphData = new google.visualization.DataTable();
        graphData.addColumn('date', 'Time');
        graphData.addColumn('number', 'Pulse');
        graphData.addRow([new Date('2018-06-12T22:13:00'), 61.1]);
        graphData.addRow([new Date('2018-06-12T22:13:10'), 62.2]);
        graphData.addRow([new Date('2018-06-12T22:13:20'), 62]);
        graphData.addRow([new Date('2018-06-12T22:13:30'), 63]);
        graphData.addRow([new Date('2018-06-12T22:13:40'), 62]);
        graphData.addRow([new Date('2018-06-12T22:13:50'), 63]);
        graphData.addRow([new Date('2018-06-12T22:14:00'), 62.1]);  
        graphData.addRow([new Date('2018-06-12T22:14:10'), 63.2]);
        graphData.addRow([new Date('2018-06-12T22:14:20'), 62]);  
        graphData.addRow([new Date('2018-06-12T22:14:30'), 63]);
        graphData.addRow([new Date('2018-06-12T22:14:40'), 62]);  
        graphData.addRow([new Date('2018-06-12T22:14:50'), 63]);
        graphData.addRow([new Date('2018-06-12T22:15:00'), 62.5]);  
        graphData.addRow([new Date('2018-06-12T22:15:10'), 62.2]);
        graphData.addRow([new Date('2018-06-12T22:15:20'), 61]);  
        graphData.addRow([new Date('2018-06-12T22:15:30'), 60]);
        graphData.addRow([new Date('2018-06-12T22:15:40'), 60.5]);  
        graphData.addRow([new Date('2018-06-12T22:15:50'), 61]);
        graphData.addRow([new Date('2018-06-12T22:16:00'), 61.2]);
        graphData.addRow([new Date('2018-06-12T22:16:10'), 61.3]);
        graphData.addRow([new Date('2018-06-12T22:16:20'), 60.5]);
        graphData.addRow([new Date('2018-06-12T22:16:30'), 60]);
        graphData.addRow([new Date('2018-06-12T22:16:40'), 61]);
        graphData.addRow([new Date('2018-06-12T22:16:50'), 62]);  
        graphData.addRow([new Date('2018-06-12T22:17:00'), 61.5]);
        graphData.addRow([new Date('2018-06-12T22:17:10'), 61]);
        graphData.addRow([new Date('2018-06-12T22:17:20'), 60.5]);
        graphData.addRow([new Date('2018-06-12T22:17:30'), 61]);
        graphData.addRow([new Date('2018-06-12T22:17:40'), 62]);
        graphData.addRow([new Date('2018-06-12T22:17:50'), 62.1]);
        graphData.addRow([new Date('2018-06-12T22:18:00'), 61.5]);  
        graphData.addRow([new Date('2018-06-12T22:18:10'), 59.5]);
        graphData.addRow([new Date('2018-06-12T22:18:20'), 60.5]);
        graphData.addRow([new Date('2018-06-12T22:18:30'), 61]);
        graphData.addRow([new Date('2018-06-12T22:18:40'), 62]);
        graphData.addRow([new Date('2018-06-12T22:18:50'), 62.1]);
        graphData.addRow([new Date('2018-06-12T22:19:00'), 62.1]);  
        graphData.addRow([new Date('2018-06-12T22:19:10'), 63.2]);
        graphData.addRow([new Date('2018-06-12T22:19:20'), 62]);  
        graphData.addRow([new Date('2018-06-12T22:19:30'), 63]);
        graphData.addRow([new Date('2018-06-12T22:19:40'), 62]);  
        graphData.addRow([new Date('2018-06-12T22:19:50'), 63]);
        graphData.addRow([new Date('2018-06-12T22:20:00'), 62.5]);  
        graphData.addRow([new Date('2018-06-12T22:20:10'), 62.2]);
        graphData.addRow([new Date('2018-06-12T22:20:20'), 61]);  
        graphData.addRow([new Date('2018-06-12T22:20:30'), 60]);
        graphData.addRow([new Date('2018-06-12T22:20:40'), 60.5]);  
        graphData.addRow([new Date('2018-06-12T22:20:50'), 61]);
        graphData.addRow([new Date('2018-06-12T22:21:00'), 61.2]);
        graphData.addRow([new Date('2018-06-12T22:21:10'), 61.3]);
        graphData.addRow([new Date('2018-06-12T22:21:20'), 60.5]);
        graphData.addRow([new Date('2018-06-12T22:21:30'), 60]);
        graphData.addRow([new Date('2018-06-12T22:21:40'), 61]);
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004',  1000,      400],
            ['2005',  1170,      460],
            ['2006',  660,       1120],
            ['2007',  1030,      540]
        ]);

        var options = {
            title: 'График пульса',
            legend: { position: 'bottom' },
            hAxis: {
                gridlines: {
                    count: -1,
                    units: {
                        hours: { format: ['HH:mm:ss', 'ha'] }
                    }
                }

            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart2_div'));

        chart.draw(graphData, options);
    }
</script>

<script type="text/javascript">
    
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var options = {
            title: 'Температурный график',
            legend: { position: 'bottom' },
            hAxis: {
                gridlines: {
                    count: -1,
                    units: {
                        hours: { format: ['HH:mm:ss', 'ha'] }
                    }
                }

            }
        };
        var dataUrl = '/api/telemetries/temperaturestats?patientId=' + @Model.Id;
        function updateChart()
        {
            $.ajax({
                url: dataUrl,
                dataType: "json",
                type: "GET",
                error: function(xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function (data) {
                    var graphData = new google.visualization.DataTable();
                    graphData.addColumn('date', 'Time');
                    graphData.addColumn('number', 'Temperature');
        
                    for (var i = 0; i < data.length; i++)  
                    {  
                        graphData.addRow([new Date(data[i].timeStamp), data[i].value]);  
                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(graphData, options);
                    }
                }
            });
        }
        updateChart();
    }
    

</script>
<h2>Детали</h2>

<div>
    <h4>Пациент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Номер комнаты
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt>
            Идентификатор хаба
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HubUniqueId)
        </dd>
    </dl>
</div>
<div>
    <h4>Графики</h4>
    <div>
        <div id="chart_div" style="width: 50%; float: left">
        </div>
        <div id="chart2_div" style="width: 50%; float: left">
            
        </div>
    </div>
    

    @*@foreach (var item in Model.DeviceTypes)
        {
            @Html.DisplayFor(modelItem => item.Name)

        }*@
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Подключенные датчики
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeviceTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
            </tr>
        }
    <tr>
        <td>Датчик пульса</td>
    </tr>
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
