﻿@model IEnumerable<IoT.Data.Patient>

@{
    ViewData["Title"] = "Пациенты";
}

<h2>Пациенты</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Имя
        </th>
        <th>
            Комната
        </th>
        <th>
            Статус хаба
        </th>
        <th>
            
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Number)
            </td>
            <td>
                @if (item.Hub != null)
                {
                    <div>
                        <span class="dot" id="@item.Hub.UniqueId" style="background-color: green"></span>
                    </div>
                }
                else
                {
                    <span class="dot"></span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="~/lib/signalr/signalr.js"></script>    
<script src="~/js/criticaltelemetry.js"></script>
@*<script src="~/js/es5-chat.js"></script>*@